
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #407D23;
    font-family: Arial, sans-serif;
    font-size: 3rem;
    margin: 0;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}

header {
    background: #7E7F28;
    height: 60px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}

main {
    background: chocolate;
    height: calc(100vh - 60px);
    display:  grid;
    grid-template-columns: 33.4% 33.3% 33.3%;
    grid-template-rows: 1fr;
}

.first-shape {grid-column: 1; grid-row: 1; background: darkblue;}
.second-shape {grid-column: 2; grid-row: 1; background: crimson;}
.third-shape {grid-column: 3; grid-row: 1; background: darkseagreen;}

.first-shape {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-auto-rows: 160px;
    gap: 24px;
    align-content: start;
    justify-content: start;
    padding: 40px;
}

.diamond {
    background: #DE3323;
    width: 160px;
    height: 160px;
    border: 5px solid black;
    transform: rotate(45deg);
}

.diamond.d1 {grid-column: 1; grid-row: 2;}
.diamond.d2 {grid-column: 2; grid-row: 1;}







@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .first-shape { grid-column: 1; grid-row: 1;}
    .second-shape { grid-column: 1; grid-row: 2;}
    .third-shape { grid-column: 2; grid-row: 1 / span 2;}
}

@media (max-width: 583px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .first-shape { grid-column: 1; grid-row: 1;}
    .second-shape { grid-column: 1; grid-row: 2;}
    .third-shape { grid-column: 1; grid-row: 3;}
}